/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .main-header{
     border-bottom: .5px solid lightgray;
 }

.site-title {
    cursor: pointer;
    display: inline;
    color: #ff5c39;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    padding-left: 10px;
 }

 .header-name {
    display: flex;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding-left: 10px;

 }


.header-button {
    padding: 3px;
    display: flex;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.login-button, .logout-button, .signup-button, .product-form-button {
    cursor: pointer;
    padding-right: 3px;
    display: inline-block;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.session-submit-box{
    padding-top: 5px;
    padding-bottom: 5px;
}

.session-submit {
    cursor: pointer;
    color: black;
    border: black 1px solid;
    outline: none;
    background-color: white;
    border-radius: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    padding: 3px;
}

.session-submit:hover {
    color: black;
    border: black 1px solid;
    outline: none;
    background-color: grey;
    border-radius: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
    display: inline-block;
}


a {
    text-decoration: none;
    color: grey
}

.login-sign-up-box{
    float: right;
    padding: 8px;
}


.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: grey;
   opacity: .4;

 }


.modal-child {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: black 1px solid;
}

.close-x{
    position: absolute;
    top:  10px;
    right: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;

}

.close-x:hover{
    cursor: pointer;
    position: absolute;
    top:  10px;
    right: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;

}

.formType {    
    position: absolute;
    top:  10px;
    left: 10px;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}



.login-form-top, .review-form-top-box, .add-product-form-top-box{
    display: block;
    padding: 10px;
}

.login-input, .add-product-input{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 15px;

}


.login-form-container{
    padding: 10px;
}

.login-form-box > ul{
    font-size: 12px;
    width: auto;
}

.review-form-box, .new-product-form-box, .new-product-container {
    display: block;
    margin: 3px;
}

.guest-user {
 float: right;
 padding: 3px;
 
}

.fourohfour-box {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: black 1px solid;
}

.fourohfour-text{
    display: inline;
    color: #ff5c39;
    font-family: 'Crimson Text', serif;
    font-size: 200px;
    padding-left: 10px;
}