@import 'variables.scss';

// button base
button,
.button {
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 14px;
  background-color: white;
  box-shadow: none;
  border: none;
  margin: 4px 0;
  font-family: $primary-font;
  cursor: pointer;
  font-weight: 400;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 10px #0000001a;
    outline: none;
  }
}

//color styling
.button {
  &--primary {
    background: $primary-color;
    color: white;
  }

  &--outline {
    border: 2px solid $primary-color;
    color: $secondary-color;
  
  }

  &--link{
      border: none;
      color: $secondary-color;
      background-color: transparent;
  }
}

//extra utils
.button--block {
  width: 100%;
}

//size styling
.button {
  &--lg {
    font-size: 1.1em;
    padding: 8px 10px;
  }

  &--sm {
    font-size: 0.9em;
  }
}