@import 'variables.scss';

.form-field {
  display: grid;
}

label,
.label {
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 0.25em;
  margin-top: 0.75em;
  display: block;
  color: $secondary-color
}

input[type="text"],
input[type="password"],
select,
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: $secondary-color;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
  display: block;
  outline: $secondary-color;
}

textarea{
    font-family: $primary-font;
}
.form-field--radio{
    display: flex;
    align-items: center;
    padding-top: 3px;

    label{
        align-self: center;
    }

    input[type="radio"]{
        align-self: center;
    }
}

