@import 'variables.scss';

.fourohfour-container {
    display: grid;

    h1{
        color: $primary-color;
        font-size: 200px;
        place-self: center;
        border: 1px solid black;
        padding: 40px;
        border-radius: 20px;
        text-align: center;

    }

}