.site-title {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    color: #F1641E;
    font-family: 'Crimson Text', serif;
    font-size: 35px;
    padding-left: 5px;

 }

 .search-box{
     display: flex;
     flex-grow: 2;
     margin-left: 8px;
     margin-right: 8px;
     border: 1px solid black;
     border-radius: 30px;
     height: 35px;
     outline: none;

 }

 .header-name {
    display: flex;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding-left: 10px;

 }

 .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bottom-header{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bottom-header > a {
    display: flex 12.5%;
    font-family: 'Crimson Text', serif;
    flex-grow: 1;
    align-self: center;
    padding-left: 18px;
    padding-right: 11px;
    
}

.bottom-header > a:after {
  display: block;
  padding-right: 5px;
  content: '';
  border-bottom: solid 2px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out; 
  align-items: center;
    
}

.bottom-header > hr {
    display: flex;
    flex-basis: 100%;
}


.bottom-header > a:hover:after {
    transform: scaleX(.80)
}

