@import "variables.scss";

.main-header {
  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13px;

    a {
      display: grid;
      grid-gap: 2px;
      justify-content: center;
      align-content: center;

      .site-title {
        cursor: pointer;
        display: block;
        color: $primary-color;
        font-family: "Spartan", serif;
        font-size: 35px;
        padding-left: 5px;
        font-weight: 200;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
      }

      .tagline {
        display: block;
        color: $secondary-color;
        font-family: serif;
        text-align: center;
        letter-spacing: 2px;
        margin: 0px;
        font-weight: 300;
      }
    }

    form {
      display: flex;
      flex: 1;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid $secondary-color;
      border-radius: 30px;
      height: 34px;
      padding-left: 6px;
      background-color: #22222204;

      .search-field {
        border: none;
        flex: 1;
        outline: none;
        background-color: transparent;
        font-family: $secondary-font;
        color: $secondary-color;
      }

      &:active,
      &:focus-within {
        background-color: white;
        transition: 0.3s ease-in-out;
      }

      .button--icon {
        margin-left: 12px;
        align-self: center;
        max-height: 34px;
        border-radius: 0 30px 30px 0;
        padding: 5px 10px;

        &:hover {
          background: #f1641e;
          color: white;
          transition: 0.3s ease-in-out;
        }
      }
    }
    .login-sign-up-box {
      display: flex;
      justify-content: center;

      & > * {
        margin: 0 2px;
      }
    }
  }

  .bottom-header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 2px solid lightgrey;

    a {
      font-family: $secondary-font;
      flex-grow: 1;
      text-align: center;
      display: grid;

      &:after {
        content: "";
        display: block;
        place-self: center;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition: width 250ms ease-in-out;
        margin-top: 8px;
        margin-bottom: -2px;
      }

      &:hover:after {
        width: 50%;
      }
    }
  }
}
