@import "variables.scss";

.main-header {
  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13px;

    a {
      display: grid;
      grid-gap: 2px;
      justify-content: center;
      align-content: center;

      .site-title {
        cursor: pointer;
        display: block;
        color: $primary-color;
        font-family: "Spartan", serif;
        font-size: 35px;
        padding-left: 5px;
        font-weight: 200;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
      }

      .tagline {
        display: block;
        color: $secondary-color;
        font-family: serif;
        text-align: center;
        letter-spacing: 2px;
        margin: 0px;
        font-weight: 300;
      }
    }

    .search-field {
      flex: 1;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid grey;
      border-radius: 30px;
      height: 35px;
      outline: none;
      padding-left: 17.5px;
      font-family: $secondary-font;
      background-color: rgba(34, 34, 34, 0.07);

      &:active,
      &:focus {
        background-color: white;
        transition: 0.3s ease-in-out;
      }
    }
    .login-sign-up-box {
      display: flex;
      justify-content: center;


     & > * {
        margin: 0 2px; 
     }

    //   .login-button,
    //   .logout-button,
    //   .product-form-button {
    //     cursor: pointer;
    //     display: inline-block;
    //     border: none;
    //     outline: none;
    //     font-family: $secondary-font;
    //     font-size: 20px;
    //     color: gray;
    //     background-color: white;
    //     transition: color 0.3s ease-in-out;
    //   }
    }
  }

  .bottom-header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 2px solid lightgrey;

    a {
      font-family: $secondary-font;
      flex-grow: 1;
      text-align: center;
      display: grid;

      &:after {
        content: "";
        display: block;
        place-self: center;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition: width 250ms ease-in-out;
        margin-top: 8px;
        margin-bottom: -2px;
      }

      &:hover:after {
        width: 50%;
      }
    }
  }
}
