
.modal-child {
display: inline-block;
width: 35%;
background-color: white;
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 15px;
border: black 1px solid;
}

.close-x{
    justify-self: right;
    display: inline-block;
}