
.modal-child {
display: inline-block;
width: 35%;
background-color: white;
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 15px;
border: black 1px solid;
}

.close-x{
    color: gray;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    float: right;
}

.formType {    
    float: left;
    color: gray;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}

.login-form-top{
    padding-bottom: 3px;
}

.login-input{
    padding-top: 15px;
    padding-bottom: 15px;
}