@import 'variables.scss';


/* Modals */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000001a;
  display: grid;
  align-content: center;
}

.modal {
  background-color: white;
  border-radius: 20px;
  place-self: center;
  padding: 15px;
  z-index: 1;
  width: 350px;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

        h2 {
      margin: 0;
    }   
    
}

// phil is the best
// do you want me to delete all this. ._.

.session-form {
  display: grid;
  grid-gap: 8px;

    h2 {
      margin: 0;
    }
}


