@import "variables.scss";

.product-index {

    .fourohfour-container {
    display: grid;

    h1{
        color: $primary-color;
        font-size: 60px;
        place-self: center;
        border: 1px solid black;
        padding: 40px;
        border-radius: 20px;
        text-align: center;

    }

}

  &__highlight {
    display: grid;
    justify-items: center;

    h2 {
      color: $primary-color;
      font-family: $primary-font;
      margin-left: 15px;
    }



    &--images {
      display: flex;
      max-width: 100%;
      overflow: hidden;
      justify-content: center;

      img{
          max-width: 600px;
          max-height: 600px;
      }
    }
  }

  .products-index__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-bottom: 100px;
    align-items: flex-start;

    .product-card {
      display: grid;
      grid-gap: 8px;
      font-size: 16px;
      max-width: 200px;
      padding: 25px;
      grid-template-rows: repeat(4, min-content) auto;

      img {
        max-width: 100%;
        max-height: 200px;
        border-radius: 4px;
      }

      &__name {
        max-width: 200px;
      }

      &__price {
        font-weight: bolder;
      }

      &__description {
        font-size: 12px;
      }

      &__location {
        display: block;
        margin-right: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
        font-size: 11px;
      }

      &__shipping--true {
        display: block;
        background: #d4e9d7;
        border-radius: 40px;
        padding: 2px 4px;
        place-self: start;
        font-size: 11px;
      }

      &__shipping--false {
        display: block;
        background: #fdebd2;
        border-radius: 40px;
        padding: 2px 4px;
        place-self: start;
        font-size: 11px;
      }

      &:hover {
        border-radius: 20px;
        box-shadow: 0 0 10px #0000001a;
        outline: none;
      }
    }
  }
}

.product-show-container {
  display: flex;
  padding-top: 45px;
  margin: auto;
  max-width: 1200px;
  align-items: flex-start;

  .product-show--info {
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 7px;
    grid-template-columns: 400px 200px;
    grid-template-rows: repeat(3, min-content) auto min-content 1fr min-content min-content;
    margin-right: 12px;

    img {
      max-height: 400px;
      max-width: 400px;
      border-radius: 20px;
      grid-row: 1/-1;
    }

    .product-show__name {
      font-size: 20px;
    }
    .product-show__location {
      font-size: 15px;
      color: $secondary-color;
    }

    .product-show__shipping--true {
      font-size: 15px;
      background: #d4e9d7;
      border-radius: 20px;
      padding: 4px 8px;
      margin-right: 56px;
      max-width: 7.4em;
      text-align: center;
    }

    .product-show__shipping--false {
      font-size: 15px;
      background: #fdebd2;
      border-radius: 20px;
      padding: 4px 8px;
      margin-right: 56px;
      max-width: 7.4em;
      text-align: center;
    }

    .product-show__price {
      font-size: 20px;
    }

    .product-show__description--label {
      font-size: 12px;
      color: black;
    }

    .product-show__description {
      font-size: 12px;
      color: $secondary-color;
    }
  }

  .product-show--right {
    display: grid;
    grid-gap: 8px;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 200px;
  }

  .button--icon {
    display: grid;
    margin: 0px;
    height: fit-content;
  }
}
