@import 'variables.scss';

// .product-show-index{
//     display:flex;
//     flex-direction: row;
//     flex-wrap: wrap;
// }

// .product-show-box{
//     display: inline-block;
//     border: 1px black solid;
//     border-radius: 20px;
//     padding: 5px;
//     margin: 10px;
// }

.products-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .product-card{
        display: grid;
        grid-gap: 8px;
        font-size: 15px;
        margin-top: 20px;

        &__price{
            font-weight: bolder;
        }

        &__description{
            font-size: 12px;
        }

        &__detail{
            display: flex;
            font-size: 11px;
            
        }

        &__location{
            margin-right: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        &__shipping__true{
            background: #D4E9D7;
            border-radius: 40px;
            padding: 2px 4px;
        }

            &__shipping__false{
            background: #FDEBD2;
            border-radius: 40px;
            padding: 2px 4px;
        }

    }


}