// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.header-button {
    padding: 3px;
    display: flex;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.login-signup-button {
    padding-right: 3px;
    display: inline-block;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.session-submit {
    color: black;
    border: black 1px solid;
    outline: none;
    background-color: white;
    border-radius: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
    padding-top: 3px;
}


a {
    text-decoration: none;
    color: grey
}

.login-sign-up-box{
    float: right;
    padding: 10px;
}






