// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signout-button > a{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;

}

.header-button {
    padding: 3px;
    display: flex;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.login-signup {
    padding: 3px;
    display: flex;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;
    background-color: white;
    transition: color 0.3s ease-in-out;
}

.session-submit, .session-form-field {
    color: gray;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}


a {
    text-decoration: none;
    color: grey
}






