@import 'variables.scss';

.store-container{
    display: flex;

    .product-index{
        flex-grow: 1;
    }

.fourohfour-container {
    display: grid;

    h1{
        color: $primary-color;
        font-size: 60px;
        place-self: center;
        border: 1px solid black;
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        margin-left: 50px;

    }

}


    .user-box{
        display: grid;
        align-self: flex-start;
        margin-left: 15px

    }
}